<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Verrouillage</title>
    <link href="style_profile.css" rel="stylesheet" type="text/css">
</head>
<body>
			<div>
				<H1>/!\ ERREUR /!\</H1>
                    <p>
                        ce compte est verrouillé, <a href="mailto:quentin.rouanet@etudiant.univ-lr.fr?subject=Débloquage">contactez l'administrateur.</a>
                    </p>
                <form method="post" action="/delog">
                    <button>Déconnexion</button>
                </form>
            </div>

</body>
</html>